/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-title{
    border: 2px solid red;
}

.card-content{
    border: 2px solid green;

}

.card{
    border: 2px solid blue;
}

.col{
    border: 2px solid saddlebrown;
} */